.header {
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 18%;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.searchbox {
    padding: 0;
    width: 25em;
    border: 1.5px solid rgb(218, 215, 215);
}
input {
    text-indent: 20px;
    font-size: 15px;
}
#btn-search {
    width: 13%;
    background-color: #fee86d;
    border: 0px;
    border-radius: 0px;
}

#btn-search:hover {
    background-color: #eeda6a;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 7%;
}

.nav li {
    display: inline-block;
    overflow: hidden;
}

.nav ul {
    margin: 0;
}

ul.nav li {
    margin-right: 35px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
}

.nav {
    margin-top: 3%;
    display: flex;
    flex: 0 0 100%;
    border-top: 1.5px solid rgb(218, 215, 215);
    border-bottom: 1.5px solid rgb(218, 215, 215);
    margin-left: 3%;
    margin-right: 3%;
}

#recipes-link::after {
    color: #fee86d;
    content: "\2605";
    position: absolute;
    margin-top: -8px;
}
